.section-bane{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: calc(100vh - 148px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  text-align: center;
  @media (max-width: 1400px) {
    height: calc(100vh - 110px);
  }
  @media (max-width: 767px) {
    height: 40vh;
  }
  .container{
    height: 100%;
  }
  .flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    @media (max-width: 767px){
      align-items: flex-start;
      justify-content: flex-end;
    }
  }
  .h1{
    margin-bottom: 20px;
    margin-top: 12vh;
    color: #fff;
    font-size: $sizeBasik + 75;
    @media (max-width:1500px) {
      font-size: $sizeBasik + 60;
    }
    @media (max-width: 1200px) {
      font-size: $sizeBasik + 45;
    }
    @media (max-width: 991px) {
      font-size: $sizeBasik + 30;
    }
    @media (max-width: 767px) {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: $sizeBasik + 7;
    }
  }
  .text{
    margin-bottom: 10vh;
    font-weight: 300;
    font-size: $sizeBasik + 35;
    line-height: 1.15;
    @media (max-width:1500px) {
      font-size: $sizeBasik + 25;
    }
    @media (max-width: 1200px) {
      font-size: $sizeBasik + 15;
    }
    @media (max-width: 991px) {
      font-size: $sizeBasik + 5;
    }
    @media (max-width: 767px) {
      font-size: $sizeBasik - 3;
      margin-bottom: 5vh;
    }
  }
  .btn{
    width: 399px;
    height: 87px;
    margin: 0px auto;
    padding-top: 8px;
    font-size: $sizeBasik + 5;
    letter-spacing: 1px;
    @media (max-width: 1200px) {
      width: 350px;
      height: 80px;
      font-size: $sizeBasik + 2;
    }
    @media (max-width: 991px) {
      width: 300px;
      height: 70px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .filters__next{
    margin-top: 10vh;
    @media (max-width: 767px) {
      display: none;
    }
    .btn-pulse{
      position: relative;
      display: inline-block;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: pulse 2s ease infinite;
        border: 1px solid $light-green;
      }
      .btn--bordered{
        &:after, &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          border-radius: 100px;
          transition-property: transform;
          will-change: transform;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 2px solid $light-green;
        border-radius: 50%;
        .btn__content{
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          z-index: 1;
          min-width: 100%;
          svg{

          }
        }
      }
    }
  }
  .btn-wrapp{
    position: absolute;
    right: 53px;
    bottom: 53px;
    .btn_grean{
      width: 188px;
      height: 64px;
      margin: 0;
      font-size: $sizeBasik + 5;
      line-height: 23px;
      color: #000;
      @media (max-width: 768px) {
        font-size: $sizeBasik ;
      }
      span{
        display: inline-block;
        margin-left: 7px;
      }
    }
  }
}