.header{
  //position: fixed;
  //z-index: 999;
  //width: 100%;
  //background: rgba(255, 255, 255, 0.5);
  //&.fixed{
  //  background: rgba(255, 255, 255, 0.5);
  //}
}
//.burger {
//  display: none;
//  @media (max-width: 767px){
//    display: block;
//  }
//  width: 50px;
//  height: 100%;
//  margin-left: auto;
//  cursor: pointer;
//  padding: 0;
//  cursor: pointer;
//  border: 0;
//  outline: 0;
//  background-color: transparent;
//
//  & > .icon-bar {
//    background: #fff;
//    display: block;
//    width: 30px;
//    height: 4px;
//    top: 0px;
//    position: relative;
//    transition: 200ms ease-in-out all;
//
//    &:first-child {
//      margin-bottom: 7px;
//      transition: 200ms ease-in-out all;
//    }
//
//    &:last-child {
//      margin-top: 7px;
//      transition: 200ms ease-in-out all;
//    }
//  }
//
//  &.active > .icon-bar {
//    background: #fff;
//
//    &:first-child {
//      margin-bottom: 0px;
//      top: -2px;
//      transition: 200ms ease-in-out all;
//      transform: rotate(-45deg);
//    }
//
//    &:nth-child(2) {
//      transition: 200ms ease-in-out all;
//      visibility: hidden;
//      opacity: 0;
//    }
//
//    &:last-child {
//      margin-top: 0px;
//      top: -10px;
//      transition: 200ms ease-in-out all;
//      transform: rotate(45deg);
//    }
//  }
//}