.nav{
  margin: 55px 0 68px;
  @media (max-width: 1200px) {
    margin: 25px 0 28px;
  }
  @media (max-width: 767px) {
    margin: 5px 0 30px;
  }
  &-tabs{
    border: 0;
    li.nav-item{
      padding-right: 10px;
      a{
        padding: 0;
        font-size: $sizeBasik + 10;
        @media (max-width: 1200px) {
          font-size: $sizeBasik + 5;
        }
        @media (max-width: 767px) {
          font-size: $sizeBasik;
        }
        border: 0;
        color: #000 !important;
        &.active{
          font-weight: bold;
          border-bottom: 4.24px solid #CBF468;
          @media (max-width: 1200px) {
            border-width: 2px;
          }
        }
      }
    }
  }
}
.tab-content{

  .tab-pane{
    &.show{
      .img{
        margin-bottom: 30px;
        @media (max-width: 767px) {
          margin-bottom: 20px;
        }
        img{
          display: block;
        }
      }
      .text{

      }
    }


  }
}