.page-main {
	background: #E5E5E5;
}
ol li + li, ul li + li {
	margin-top: 0;
}
header{
	display: flex;
}
.section_banner {
	position: relative;
	min-height: calc(100vh - 0px);
	padding-top: 72px;
	color: $white;
	@media(max-width: 767px) {
		padding-bottom: 32px;
		padding-top: 96px;
	}
	.container {
		@media(max-width: 767px) {
			padding-left: 20px;
			padding-right: 20px;
		}
		.row {
			//height: 100%;
			.col-lg-12 {
				//height: 100%;
			}
		}
	}
	.h1 {
		margin-top: 80px;
		margin-bottom: 14px;
		font-weight: 800;
		line-height: 130%;

		text-transform: uppercase;
		@media(max-width: 1300px) {
			margin-top: 30px;
		}
		@media(max-width: 991px) {
			margin-top: 20px;
		}
		@media(max-width: 767px) {
			margin-top: 56px;
			margin-bottom: 16px;
		}
	}
	.under-h1 {
		margin-bottom: 40px;
		max-width: 534px;
		font-weight: bold;
		font-size: 20px;
		line-height: 130%;
		@media(max-width: 1300px) {
			margin-bottom: 20px;
		}
		@media(max-width: 991px) {
			font-size: 18px;
		}
		@media(max-width: 767px) {
			margin-bottom: 32px;
			font-size: 16px;
			text-align: center;
		}
	}
	&-list {
		display: flex;
		margin-bottom: 70px;
		@media(max-width: 1300px) {
			margin-bottom: 40px;
		}
		@media(max-width: 767px) {
			flex-wrap: wrap;
			margin-bottom: 8px;
		}
		li {
			width: 20%;
			margin: 0;
			text-align: center;
			@media(max-width: 767px) {
				margin-bottom: 24px;
			}
			&:last-child{
				@media(max-width: 767px) {
					margin-bottom: 24px;
					.link .icon .icon-banner{
						width: 21px;
					}
				}
			}
			@media(max-width: 767px) {
				width: 100%;
			}
			.link {
				@media(max-width: 767px) {
					display: flex;
					align-items: center;
				}
				&.active{
					svg{
						fill: $orange !important;
						//stroke: #fe5000 !important;
					}
				}
				svg {
					fill: none;
					transition: 1s ease-in-out all;

				}
				.icon {
					position: relative;
					&:hover {
						* {
							fill: $orange !important;
							//stroke: #fe5000 !important;
						}
					}
					.icon-polygon{
						&:last-child{
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							path{
								fill: transparent !important;
							}
						}

						@media(max-width: 767px) {
							width: 80px;
							height: 69px;
						}
					}
					.icon-banner {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						@media(max-width: 767px) {
							width: 31px;
							height: auto;
							//top: 43%;
						}
					}
				}
				.text {
					display: block;
					margin-top: 14px;
					font-weight: normal;
					line-height: 130%;
					text-align: center;
					color: $white;
					&:hover {
						color: $orange;
					}
					@media(max-width: 767px) {
						margin: 0 0 0 12px;
						text-align: left;
					}
				}
			}
		}
	}
	&-btn {
		display: flex;
		justify-content: space-between;
		@media(max-width: 767px) {
			flex-wrap: wrap;
		}
		li {
			max-width: 30%;
			margin: 0;
			@media(max-width: 767px) {
				max-width: 100%;
				margin-bottom: 24px;
			}
			.btn {
				@media(max-width: 767px) {
					font-weight: 800;
				}
			}
		}
	}
	.arrow {
		position: absolute;
		left: 50%;
		bottom: 20px;
		transform: translate(-50%, 0);
		border: 0;
		outline: 0;
		background-color: transparent;
		background: transparent;
		@media(max-width: 767px) {
			display: none;
		}
		svg{
			fill: transparent;
		}
	}
}
.scheme_work {
	position: relative;
	padding-top: 80px;
	padding-bottom: 184px;
	background: #E5E5E5 url(../img/scheme-work/scheme-work-bg.svg) center bottom no-repeat;
	background-size: contain;
	@media (max-width: 991px){
		padding-bottom: 100px;
	}
	@media (max-width: 767px){
		padding-top: 40px;
	}
	.container{
		max-width: 1100px;
		z-index: 1;
	}
	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
	}
	&:before {
		width: 55vw;
		height: 69vw;
		margin-left: -18vw;
		top: 0;
		left: 0;
		background: url("../img/scheme-work/scheme-work-before.svg") right top no-repeat;
	}
	&:after {
		width: 34vw;
		height: 37vw;
		top: 20%;
		right: 0;
		background: url("../img/scheme-work/scheme-work-after.svg") no-repeat;
	}
	&-top {
		display: flex;
		justify-content: center;
		margin-bottom: 122px;
		padding: 0 32px 0 0px;
		position: relative;
		@media (max-width: 1300px){
			padding: 0 15px;
		}
		@media (max-width: 991px){
			margin-bottom: 100px;
		}
		@media(max-width: 767px) {
			margin-bottom: 80px;
			flex-wrap: wrap;
			padding: 0 0px;
		}
		&-left {
			width: 470px;
			@media(max-width: 767px) {
				width: 100%;
			}
			.h4 {
				margin: 0 0 24px;
				@media (max-width: 767px){
					font-size: 20px;
					margin-bottom: 16px;
				}
			}
			p {
			}
		}
		&-right {
			position: relative;
			width: 765px;
			margin-top: 50px;
			width: 100%;
			@media (max-width: 776px){
				margin-top: 16px;
			}
			&-icon {
				max-width: 79%;
				margin-left: 121px;
				margin-left: 21.3%;
				@media (max-width: 1300px){
					margin-left: 10%;
				}
				@media (max-width: 991px){
					max-width: 60%;
				}
				@media (max-width: 776px){
					max-width: 210px;
					margin: 0 auto 40px;
				}
				img {
				}
			}
			.list {
				&:before {
					content: '';
					position: absolute;
					width: 18px;
					height: 18px;
					left: 215px;
					left: 38%;
					top: -8px;
					background: $orange;
					border-radius: 50%;
					@media (max-width: 1300px){
						left: 26%;
					}
					@media (max-width: 776px){
						display: none;
					}
				}
				li {
					position: absolute;
					line-height: 130%;

					span {
					}
					&.item {
						&-1 {
							left: 44px;
							left: 9%;
							top: -45px;
							color: $orange;
							font-weight: bold;
							text-align: right;
							@media (max-width: 991px){
								left: 0;
							}
						}
						&-2 {
							right: -55px;
							top: -45px;
							@media (max-width: 1300px){
								right: 0;
							}
							@media (max-width: 991px){
								right: 6%;
							}
						}
						&-3 {
							width: 250px;
							left: 96%;
							top: 49%;
							transform: translate(0, -50%);
							@media (max-width: 1300px){
								left: 82%;
								width: 200px;
							}
							@media (max-width: 991px){
								left: 73%;
								width: 144px;
							}
						}
						&-4 {
							right: -55px;
							bottom: -45px;
							@media (max-width: 1300px){
								right: 0;
							}
							@media (max-width: 991px){
								right: 6%;
							}
						}
						&-5 {
							left: 7%;
							bottom: -45px;
							text-align: right;
							@media (max-width: 991px){
								left: 0;
							}
						}
					}
					@media(max-width: 767px) {
						position: relative;
						left: auto !important;
						top: auto !important;
						right: auto !important;
						bottom: auto !important;
						width: 100% !important;
						margin-top: 24px;
						padding-left: 40px;
						text-align: left !important;
						font-weight: normal !important;
						font-size: 16px;
						color: $colorBasik !important;
						transform: translate(0,-0%) !important;
						br{
							display: none;
						}
						&:before{
							content: '';
							width: 13.34px;
							height: 10.66px;
							position: absolute;
							left: 0.66px;
							top: 4.34px;
							background: url("../img/svg/check.svg") no-repeat;
						}
					}
				}
			}
		}
	}
	&-bottom {
		.h2 {
		}
		&-icon{
			position: relative;
			z-index: 1;
			svg{
				max-width: 100%;
				height: auto;
			}
			*{
				fill: transparent;
			}

		}
		.list {
			position: relative;
			li {
				position: absolute;
				max-width: 150px;
				text-align: center;
				.arrow {
					position: absolute;
				}
				svg {
				}
				.icon {
				}
				.text {
					margin-top: 10px;
					font-weight: bold;
				}
				.arrow {
				}
			}
			.item {
				&-1 {
					position: static;
					.arrow {
						left: 150px;
						top: 14px;
					}
				}
				&-2 {

					left: 350px;
					top: 0;
					.arrow {
						left: -150px;
						top: 101px;
					}
				}
				&-3 {
					position: static;
					margin-top: 50px;
					.arrow {
						position: static;
						margin-top: 16px;
						margin-bottom: 20px;
					}
				}
				&-4 {
					position: static;
					.arrow {
						bottom: 70px;
						left: 200px;
					}
				}
				&-5 {
					bottom: 0;
					left: 250px;
					.arrow {
						bottom: 70px;
						left: 400px;
					}
				}
				&-6 {
					bottom: 0;
					left: 450px;
					.arrow {
						bottom: 70px;
						left: 600px;
					}
				}
				&-7 {
					top: 0;
					right: 0;
					w4
					.arrow {
					}
				}
				&-8 {
					.arrow {
					}
				}
				&-9 {
					.arrow {
					}
				}
			}
		}
	}

}
.video{
	padding-bottom: 120px;
	@media (max-width: 991px){
		padding-bottom: 80px;
	}
	@media (max-width: 767px){
		padding-bottom: 60px;
	}
	&-col{
		padding-right: 15px;
		padding-left: 15px;
		&-left{
			width: 100%;
			flex: 0 0 40%;
			max-width: 40%;
			@media (max-width: 991px){
				flex: 0 0 50%;
				max-width: 50%;
			}
			@media (max-width: 767px){
				flex: 0 0 100%;
				max-width:100%;
			}
			.h2{
				margin: 0 0 24px;
			}
			.text{
				font-weight: bold;
				font-size: 20px;
				line-height: 130%;
				@media (max-width: 767px){
					margin-bottom: 24px;
				}
			}
		}
		&-right{
			width: 100%;
			flex: 0 0 60%;
			max-width: 60%;
			@media (max-width: 991px){
				flex: 0 0 50%;
				max-width: 50%;
			}
			@media (max-width: 767px){
				flex: 0 0 100%;
				max-width:100%;
			}
			.iframe{
				img{
					display: block;
					width: 100%;
				}
			}
			.btn-block{
				display: flex;
				justify-content: space-between;
				margin-top: 32px;
				@media (max-width: 767px){
					margin-top: 0px;
					flex-wrap: wrap;
				}
				.btn{
					width: 312px;
					max-width: 48%;
					@media (max-width: 767px){
						width: 100%;
						max-width: 100%;
						margin-top: 24px;
					}
				}
			}
		}
	}
}
.invite_clients{
	position: relative;
	margin-bottom: 120px;
	padding: 59px 0;
	text-align: center;
	@media(max-width: 768px) {
		margin-bottom: 80px;
		padding: 50px 20px;
	}
	&-bg{
		position: absolute;
		left: 0;
		top: 0;
		width: calc(100% - 120px);
		height: 100%;
		padding: 0 20px;
		background: url("../img/invite_clients-bg.png") left top no-repeat;
		background-size: cover;
		@media(max-width: 767px) {
			z-index: 9;
			width: 100%;
			background: url("../img/invite_clients-bg-md.png") left top no-repeat;
			background-size: cover;
		}
	}
	&-in{
		position: relative;
		z-index: 9;
		max-width: 550px;
		margin: 0 auto;
	}
	&:after{
		content: '';
		position: absolute;
		right: 0;
		bottom: -60px;
		width: 580px;
		height: 345px;
		background: url("../img/invite_clients-after.png") left top no-repeat;
		background-size: cover;
		@media(max-width: 767px) {
			bottom: -15px;
			width: 170px;
			height: 122px;
		}

	}
	.h3{
		margin: 0 0 16px;
		@media(max-width: 767px) {
			text-transform: uppercase;
			font-size: 20px;
		}
	}
	p{
		line-height: 130%;
		color: $white;
	}
	.btn{
		max-width: 212px;
		margin: 40px auto 0;
		font-weight: 800;
		@media(max-width: 767px) {
			margin-top: 20px;
		}
	}
}
.profitable_solution{
	overflow: hidden;
	position: relative;
	margin-bottom: 82px;
	@media(max-width: 767px) {
		margin-bottom: 40px;
	}
	.h2{
		@media(max-width: 767px) {
			margin-top: 16px;
			margin-bottom: 40px;
		}
	}
	&-slider{
		margin-top: 80px;
		@media(max-width: 767px) {
			margin: 0;
			padding-left: 20px;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			height: 100%;
			width: 400px;
			background: $orange;
			transform: skewX(-30deg);
			right: -12%;
			z-index: 2;
			@media(max-width: 767px) {
				display: none;
			}
		}
		.item{
			overflow: hidden;
			padding: 0 16px;

			@media(max-width: 767px) {
				padding: 0 12px;
			}
			img{
				transition: all 1s ease;;
			}
			&:hover{
				img{
					transform: scale(1.05);
				}
			}
		}
	}
}
.extended_capabilities{
	margin-bottom: 80px;
	.h3{
		margin-bottom: 40px;
		text-transform: uppercase;
		color: $colorBasik;
		@media(max-width: 767px) {
			margin-bottom: 24px;
		}
	}
	&-slider{
		@media(max-width: 767px) {
			.slick-arrow{
				display: none;
			}
		}
		.item{
			position: relative;
			margin: 0 0 -10px 0;
			padding: 0;
			&-skew{
				width: 100%;
				margin: 0;
				transform: skewX(-30deg);
				overflow: hidden;
				display: inline-block;
				position: relative;
				line-height: normal;
				border-left: 2px solid transparent;
				border-right: 2px solid transparent;
				.img{
					display: inline-block;
					width: 160%;
					margin-left: -30%;
					transform: skewX(30deg);
					transition: all 0.3s ease;
					&:before{
						content: '';
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background: rgba(0, 0, 0, 0.5);
					}
					img{
						width: 100%;
					}
				}
			}
			.text{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				font-size: $sizeBasik + 4;
				font-weight: 500;
				color: #fff;
				@media(max-width: 767px) {
					font-size: $sizeBasik;
					width: 80%;
				}
			}
		}
	}
	&-bottom{
		padding: 56px 0;
		background-color: $orange;
		@media(max-width: 767px) {
			padding: 40px 0;
		}
		&-in{
			display: flex;
			justify-content: space-between;
			@media(max-width: 767px) {
				flex-wrap: wrap;
			}
			.text{
				width: 780px;
				font-weight: bold;
				font-size: 20px;
				line-height: 130%;
				color: #FFFFFF;
				@media(max-width: 767px) {
					width: 100%;
					font-weight: 600;
					margin-bottom: 24px;
				}
			}
			.btn{
				width: 212px;
				@media(max-width: 767px) {
					width: 100%;
					font-weight: 800;
				}
			}
		}
	}
}
.section_das{
	position: relative;
	padding-bottom: 206px;
	@media (max-width: 1300px){
		padding-bottom: 150px;
	}
	@media (max-width: 991px){
		padding-bottom: 70px;
	}
	&:after{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 510px;
		height: 100%;
		background: url("../img/section_das/section_das-after.png") no-repeat;
	}
	&-slider{
		position: relative;
		z-index: inherit;
		padding-left: 116px;
		@media (max-width: 767px){
			padding-left: 20px;
		}
		.item{
			overflow: hidden;
			margin-left: -30px;
			padding: 0 22px;
			@media (max-width: 767px){
				margin: 0;
				padding: 0 12px;
			}
			img{
				transition: all 1s ease;;
			}
			&:hover{
				img{
					transform: scale(1.05);
				}
			}
			img{
				margin-left: -30px;
				@media (max-width: 767px){
					margin: 0;
				}
			}
		}
		.slick-arrow{
			bottom: -7vw;
			top: auto;
			background: url(../img/svg/slider-arrow-white.svg) no-repeat!important;
			transform: translate(0,-50%);
			&.slick-prev{
				background: url("../img/svg/slider-arrow-white-prev.svg") no-repeat !important;
			}
		}
	}
}
.advantages_complex{
	overflow: hidden;
	position: relative;
	margin-bottom: 80px;
	&:before{
		position: absolute;
		left: 0;
		bottom: 35px;
		content: '';
		display: block;
		width: 855px;
		height: 460px;
		background: url(../img/advantages_complex/advantages_complex-after.svg) left top no-repeat;
		@media(max-width: 991px) {
			width: 100%;
			background-size: contain;
		}
	}
	.h2{
		margin-bottom: 105px;
		@media (max-width: 767px){
			margin: 40px 0 0;
		}
	}
	.d-flex{
		position: relative;
		justify-content: space-between;
		@media(max-width: 767px) {
			flex-wrap: wrap;
		}
		.item{
			display: flex;
			align-items: center;
			width: 50%;
			margin-top: 40px;
			@media(max-width: 767px) {
				width: 100%;
			}
			img{
				transition: all 1s ease;;
			}
			&:hover{
				img{
					transform: scale(1.02);
				}
			}
			.img{
				width: 125px;
				margin-right: 24px;
				img{

				}
			}
			.text{
				width: calc(100% - 150px);
				max-width: 300px;
				font-weight: bold;
				line-height: 130%;
			}
		}
	}
}
.mission{
	position: relative;
	.d-flex{
		justify-content: space-between;
		@media(max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	&-img{
		width: 49%;
		@media(max-width: 767px) {
			width: 100%;
			order: 1;
		}
		img{
			display: block;
		}
	}
	&-desc{
		width: 51%;
		padding-left: 40px;
		@media(max-width: 991px){
			padding: 0 15px;
		}
		@media(max-width: 767px) {
			width: 100%;
		}
		&-in{
			max-width: 550px;
		}
		.h2{
			margin: 0 0 24px;
			color: $orange;
			@media(max-width: 991px) {
				margin-top: -22px;
				margin-bottom: 15px;
			}
		}
		.h3{
			margin: 0 0 40px;
			text-transform: uppercase;
			color: $colorBasik;
			@media(max-width: 991px) {
				margin-bottom: 15px;
			}
		}
		p{
			margin-bottom: 40px;
			line-height: 130%;
			@media(max-width: 991px) {
				margin-bottom: 15px;
			}
		}
		b{
			margin-bottom: 40px;
			font-weight: bold;
			font-size: 20px;
			line-height: 130%;
		}
	}
	&-bottom{
		position: absolute;
		right: 0;
		bottom: 50px;
		display: flex;
		width: calc(100% - 125px);
		padding: 35px 0 35px 180px;
		color: #fff;
		background: url(../img/mission-bottom-bg.png) no-repeat;
		@media(max-width: 991px) {
			position: static;
			bottom: 40px;
			width: calc(100% - 0px);
			padding: 20px 0 20px 120px;
		}
		@media(max-width: 767px) {
			position: relative;
			flex-wrap: wrap;
			bottom: auto;
			margin-top: -140px;
			padding: 20px 20px 20px 90px;
			background:  url(../img/mission-bottom-bg.png) no-repeat;
			&:after{
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 40%;
				background: $orange;
			}
		}
		b{

		}
		p{

		}
		&-left{
			width: 310px;
			margin-right: 100px;
			padding-right: 25px;
			letter-spacing: 1px;
			@media(max-width: 767px){
				width: 100%;
				z-index: 9;
				margin: 0;
				padding: 0;
				text-align: right;
				b{
					font-weight: 600;
				}
			}
		}
		&-right{
			width: 530px;
			@media(max-width: 767px){
				width: 100%;
				z-index: 9;
				margin: 30px 0 0 0;
				text-align: right;
			}
			.list{
				li{
					&:first-child{
						margin-bottom: 20px;

					}
					&:last-child{

					}
					b{
						font-weight: bold;
						font-size: 20px;
						line-height: 130%;
					}
					p{
						line-height: 130%;
						a{
							color: #fff;
						}
					}
				}
			}
		}
	}
}
.map{
	margin-bottom: 80px;
	@media(max-width: 767px){
		margin-bottom: 56px;
	}
	.h2{

	}
	&-in{
		position: relative;
		@media(max-width: 767px) {
			overflow: hidden;
			img{
				max-width: 200%;
			}
		}
	}
	&-info{
		position: absolute;
		top: 3.66032211vw;
		right: 3.66032211vw;
		width: 33.96778917vw;
		padding: 2.92825769vw 2.34260615vw 2.34260615vw;
		box-shadow: 0 2.34260615vw 3.51390922vw rgba(29, 33, 46, 0.08);
		border-radius: 1.17130307vw;
		background: $white;
		line-height: 130%;
		opacity: 1;
		@media(max-width: 991px) {
			width: 50%;
		}
		@media(max-width: 767px) {
			position: relative;
			margin: -80px 0 0 20px;
			left: auto;
			top: auto;
			right: auto;
			width: calc(100% - 40px);
			padding: 20px 20px 40px;
		}
		.h3{
			margin: 0 0 32px;
			text-transform: uppercase;
			font-weight: 800;
			font-size: 24px;
			color: $orange;
			@media(max-width: 991px) {
				margin-bottom: 15px;
			}
		}
		p{
			margin-bottom: 32px;
			@media(max-width: 991px) {
				margin-bottom: 15px;
			}
		}
		.list{
			margin-bottom: 32px;
			li{
				display: flex;
				justify-content: space-between;
				&:first-child{
					margin-bottom: 24px;
					@media(max-width: 991px) {
						margin-bottom: 15px;
					}
				}
				span{
					opacity: 0.5;

				}
				a{
					display: inline-block;
					width: 260px;
					font-weight: bold;
					font-size: 16px;
					color: $colorBasik;
				}
			}
		}
		.btn{
			width: 100%;
			text-transform: uppercase;
			font-weight: 800;
			font-size: 12px;
		}
	}
}
.contact_us{
	overflow: hidden;
	background: #43464E;
	&-top{
		overflow: hidden;
		position: relative;
		padding-top: 6px;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			width: 50%;
			height: 100%;
			right: -4%;
			bottom: 0;
			transform: skewX(-30deg);
			background: #F4F5FB;
			box-sizing: border-box;
			@media(max-width: 767px) {
				height: 56px;
			}
		}
	}
	.h2{
		margin: 50px 0 32px;
		color: $white;
	}
	&-form{
		position: relative;
		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: 48%;
			height: 101%;
			right: -41.7%;
			bottom: 0;
			transform: skewX(-30deg);
			background: $orange;
			box-sizing: border-box;
			@media(max-width: 767px) {
				top: auto;
				bottom: 0;
				height: 111px;
			}
		}
		.nav{
			flex-wrap: nowrap;
			&-item{
				@media(max-width: 767px){
					width: 50%;
				}
				.nav-link{
					display: flex;
					align-items: center;
					justify-content: center;
					min-width: 216px;
					padding: 16px 20px;
					background: #585C63;
					font-weight: 800;
					font-size: 12px;
					line-height: 16px;
					text-align: center;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					color: #FFFFFF;
					border: 0;
					border-radius: 0;
					@media(max-width: 767px) {
						width: 100%;
						height: 48px;
						padding: 16px 12px;
						min-width: 100%;
						font-weight: 500;
					}
					&.active{
						background: #36383F;
					}
				}
			}
		}
		.tab-content{
			background: #585C63;
			.tab-pane{
				display: none;
				padding: 67px 80px;
				@media(max-width: 767px) {
					padding: 40px 4px;
				}
				&.active{
					display: block;
				}
				.form{
					width: 100%;
					.row{
						width: 100%;
						justify-content: space-between;
					}
						ul{
							li{
								position: relative;
								margin-bottom: 32px;
								label{
									position: absolute;
									left: 12px;
									top: 7px;
									font-weight: normal;
									font-size: 12px;
									line-height: 110%;
									color: #797C8D;
								}
								input{
									width: 100%;
									height: 48px;
									border-radius: 0;
									background: rgba(255, 255, 255, 0.1);
									border: 0;
									border-bottom: 1px solid #fff;
									outline: 0;
									color: #fff;
									&::placeholder{
										color: #797C8D;
									}
									&:active, &:focus, &:visited, &:focus-visible{
										padding-top: 10px;
										background: $white;
										border-bottom: 1px solid $orange;
										color: #000000;
									}
								}
							}
						}
						textarea{
							width: 100%	;

							height: 128px;
							margin-bottom: 32px;
							padding: 5px 0 0 12px;
							background: rgba(255, 255, 255, 0.1);
							border: 0;
							border-radius: 0;
							border-bottom: 1px solid #fff;
							outline: 0;
							color: #fff;
							&::placeholder{
								color: #797C8D;
							}
							&:active, &:focus{
								background: $white;
								border-bottom: 1px solid $orange;
								color: #000000;
							}
						}
						button{
							max-width: 178px;
							@media(max-width: 767px) {
								margin: 0 auto;
								font-weight: 600;
							}

						}

				}
			}
		}
	}
}