html {}

body {
  overflow-x: hidden;
  font-family: 'Avenir Next Cyr';
  font-style: normal;
  font-weight: normal;
  line-height: 1.625;
  font-size: $sizeBasik;
  background: $black;
  color: $colorBasik;
  @media (max-width: 1300px) {
    font-size: $sizeBasik - 2;
  }
  @media (max-width: 767px) {
    font-size: $sizeBasik;
  }
}


* {
  //border: 1px solid  !important;
}
.md-hide{
  @media (max-width: 767px) {
    display: none !important;
  }
}
.md-visible{
  display: block  !important;
  @media (min-width: 768px) {
    display: none !important;
  }
}
.debug {
  display: none;
  // display: block;
  height: 100vh;
  position: fixed;
  z-index: -1;
  width: 100%;

  & > div {
    height: inherit;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    margin: 0 auto;

    & > div {
      height: inherit;
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;

      & > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(8.333333333333334% - 30px);
        height: inherit;
        outline: #f00 solid 1px;
        background: rgba(0, 0, 0, .1);
      }
    }
  }
}
::-webkit-scrollbar {
  width: 8px !important;
  height: 4px !important;
}
// Track
::-webkit-scrollbar-track {
  background: #fff;
}
// Handle
::-webkit-scrollbar-thumb {
  background-color: $colorBasik;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive {
  // background: #cfd4db;
  background: transparent;
  background: transparent;
  background: #000;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
  z-index: 9;

  & + label {
    cursor: pointer;
  }

  &:not(checked) {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 17px;
    height: 17px;
    @media(max-width: 767px) {
      width: 15px;
      height: 15px;
    }
  }

  &:not(checked) + label {
    position: relative;
    display: block;
    padding: 0px 0 0px 25px;
    cursor: pointer;
    @media(max-width: 767px) {
      padding-left: 20px;
    }
    span {
      display: flex;
      height: 100%;
      align-items: center;
      line-height: 1.2;
      font-size: $sizeBasik + 3;
      font-weight: 300;
      color: #9F9F9F;
      @media (max-width: 767px){
        font-size: $sizeBasik - 3;
        line-height: 1.4;
      }
    }
  }

  &:not(checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    @media(max-width: 767px) {
      width: 15px;
      height: 15px;
    }
    border: 1px solid #9F9F9F;
    border-radius: 3px;
  }

  &:not(checked) + label:after {
    content: '';
    color: #000;
    position: absolute;
    top: 0px;
    top: 0px;
    left: 0px;
    width: 17px;
    height: 17px;
    //transition: 1s ease-in-out all;
  }

  &:not(checked) + label:before {
    content: '';
  }

  &:checked + label:before {
    background: $light-green;
    border-color: transparent;
  }

  &:checked + label:after {
    display: block;
    content: '';
    top: 0px;
    left: 0px;
    width: 17px;
    height: 17px;
    background: url("../img/svg/check.svg") center no-repeat;
    color: #fff;
    //background: url(../img/checket.png) center no-repeat;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select {
  display: flex;
  position: relative;
  height: 100%;
  min-width: 90px;
  .slct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 235px;
    height: 48px;
    padding: 0px 0px;
    text-transform: none;
    text-decoration: none !important;
    color: $dark;
    border-bottom: 1px solid $orange;
    font-size: 16px;
    line-height: 130%;
    img {
      margin-right: 10px;
    }
    span {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
    }

    &:after {
      content: '';
      position: absolute;
      right: -0px;
      top: 50%;
      transform: translate(0, -50%);
      width: 24px;
      height: 24px;
      background: url(../img/svg/arrow-down.svg) center no-repeat;
    }

    &.active {
      .fa {

      }
    }
  }

  .drop {
    margin: 0;
    padding: 0;
    width: calc(100% - 0px);
    border: 1px solid $colorBasik;
    border-bottom: none;
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 100;
    text-align: center;
    background: #fff;

    li {
      display: flex;
      height: 50px;
      align-items: center;
      padding:0 0 0 20px;
      text-transform: uppercase;
      cursor: pointer;
      border-bottom: 1px solid $colorBasik;
      &:hover {
        background-color: $colorBasik;
        color: #fff;
      }
    }
  }

  .drop_checkbox {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid #cecece;
    border-top: none;
    display: none;
    position: absolute;
    z-index: 100;
    background: #fff;

    li {
      list-style: none;
      border-top: 1px dotted #e8e8e8;
      cursor: pointer;
      display: block;
      color: #444;
      padding: 2px 15px 6px 15px;

      &:hover {
        background-color: #e8e8e8;
        color: #222;
      }
    }
  }

  .checkbox {
    vertical-align: middle;
    margin: 6px 0 0 0;
    width: 20px;
    height: 20px;
    z-index: 9;

    & + label {
      cursor: pointer;
    }

    &:not(checked) {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    &:not(checked) + label {
      position: relative;
      width: auto;
      height: 28px;
      margin-top: 6px;
      padding: 0 0 0 35px;
      line-height: 1.5;
      cursor: pointer;
      font: normal normal normal 20px/1.2 FontAwesome;
    }

    &:not(checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      width: 28px;
      height: 28px;
      border-radius: 0px;
      border: 2px solid #f9c977;
      background-color: #fff;
    }

    &:not(checked) + label:after {
      content: '';
      color: #fff;
      position: absolute;
      top: 0px;
      top: 0px;
      left: 0px;
      //transition: 0;
    }

    &:not(checked) + label:before {
      content: '';
    }

    &:checked + label:after {
      display: block;
      content: '\f00c';
      top: 2px;
      left: 5px;
      background: none;
      color: #f41919;
    }

    &:focus(checked) + label:after {
      width: 28px;
      height: 28px;
      content: '';
    }

    &:focus + label:before {
      width: 28px;
      height: 28px;
      content: '';
    }
  }
}

a {
  text-decoration: none;
  color: $white;
  transition: 1s ease all;

  &:hover {
    color: $yellow;
    //text-decoration: underline;
  }

  &:hover {
    img {

    }
  }
}

.container {
  position: relative;
  outline: 0px solid #f44336;
  width: 83.08931186vw;
  max-width: 100%;
  @media(max-width: 991px) {
    width: 100%;
    background-size: contain;
  }
}
.light {
  font-weight: 300;
}


a {
  display: inline-block;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

button {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="date" i] {
  background: transparent;
}

span.CenturyGothic {
}

h1, h2, h3, h4, h5, h6 {
  //font-weight: bold;
  font-weight: bold;
}

h1 {

}

.h1 {
  margin: 20px 0 15px;
  font-size: $sizeBasik + 48;
  color: $white;
  font-weight: bold;
  line-height: 110px;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  @media (max-width:1500px) {
    font-size: $sizeBasik + 40;
  }
  @media (max-width: 1200px) {
    font-size: $sizeBasik + 25;
  }
  @media (max-width: 991px) {
    font-size: $sizeBasik + 20;
  }
  @media (max-width: 767px) {
    font-size: $sizeBasik + 12;
    letter-spacing: 0em;
  }
}

.h2, h2 {
  position: relative;
  margin: 4px 0 8px;
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: $sizeBasik + 8;
  color: $dark;
  font-weight: 800;
}
h2{
  position: relative;
  margin: 50px 0;
  padding-top: 10px;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: $sizeBasik + 24;
  @media (max-width: 991px) {
    font-size: $sizeBasik + 10;
  }
  @media (max-width: 767px) {
    font-size: $sizeBasik + 8;
  }
}

h3, .h3 {
  margin: 0px 0 16px;
  font-weight: bold;
  font-size: $sizeBasik + 8;
  line-height: 1.3;
  color: $orange;
}

h4, .h4 {
  margin: 12px 0 8px 0;
  font-weight: bold;
  line-height: 130%;
  color: $colorBasik;
  color: $dark;
  font-size: $sizeBasik + 4;
}

h5, .h5 {
  margin: 0 0 15px;
  line-height: 1.2;
  font-size: $sizeBasik - 2;
  color: $colorBasik;
}

h6 {
  line-height: 1.45;
  font-size: 14px;
  font-weight: 700;
}

b {
  font-weight: 700;
}


.hide {
  display: none !important;
}


.desctop-hide {
  display: none !important;
}

img {
  max-width: 100%;
  height: auto;
}


.more- {
  position: relative;
  //padding-bottom: 3px;
  display: block;
  width: auto;
  margin: 20px 0 10px;
  text-transform: uppercase;
  &::before {
    //content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid $colorBasik;
    transition: 1s ease all;
  }

  &::after {
    //content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 1px dashed $colorBasik;
    transition: 1s ease all;
  }

  &:hover::after {
    width: 100%;
  }

  &:hover::before {
    width: 0%;
  }
  &:hover{
    text-decoration: underline;
  }
}

/*
* .grid-item *
*/
.grid {
  // margin-bottom: 145px;
  &-item {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    transition: 1s ease all;
    &:hover {
      padding: 0;
      outline: 0;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.30) !important;
    }

    h4 {
      margin: 0 0 12px 0px;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
    }

    p {
      margin-bottom: 5px;
      line-height: 1.7;
    }

    a {
      display: flex;
      overflow: hidden;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      text-decoration: none;
      text-align: center;

      * {
        text-decoration: none;
      }

      &:hover {
        opacity: 1;
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      transition: 1s ease all;
    }
  }
}

.inputfile-box {
  position: relative;
  width: 100%;
  height: 43px;
  margin-bottom: 55px;
  box-sizing: border-box;
  @media (max-width: 767px) {
    height: 27px;
  }
}

.inputfile {
  width: 0.1px !important;
  height: 0.1px !important;
  padding: 0 !important;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  & + label {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 0;
    font-size: 16px;
    line-height: 2;
    cursor: pointer;
    color: #bdbdbd;

    span {
      display: inline-block;
      padding: 0;
      margin-left: 18px;
    }

    img {
      margin-right: 10px;
      float: left;
    }

    strong {
      display: block;
    }
  }
}
.canvas{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  &.block{
    display: block;
  }
}

