// Variables Bootstrap 4
// color
$black:     #1A1A1A;
$red:     #cc2eaa;
$green:   #2ecc71;
$grey: #797C8D;
$light-green:   #cbf469;
$orange: #FE5000;
$yellow: #E7B900;
$violet: #7057d6;
$purple: #555be4;
// container size
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1800px
);
//fonts
$sizeBasik: 16px;
$colorBasik: #43464E;
// transition
$ease-out: 0.25s ease-in-out;

@media (min-width: 1200px){
  .container{
    max-width: 1170px;
  }
}
