.fnc {
    /* you can add color names and their values here
    and then simply add classes like .m--blend-$colorName to .fnc-slide
    to apply specific color for mask blend mode */
}

.fnc-slider {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
//opacity: 0;
}
.m--active-slide.fnc-slider{
//opacity: 1;
    transition: opacity 1000ms ease 0s;
}

.fnc-slider *, .fnc-slider *:before, .fnc-slider *:after {
    box-sizing: border-box;
}

.fnc-slider__slides {
    position: relative;
    height: 100%;
    transition: transform 1s 0.6666666667s;
}

.fnc-slider .m--blend-dark .fnc-slide__inner {
    background-color: #43464E;
}

.fnc-slider .m--blend-dark .fnc-slide__mask-inner {
    background-color: #575757;
}

.fnc-slider .m--navbg-dark {
    background-color: #575757;
}

.fnc-slider .m--blend-green .fnc-slide__inner {
    background-color: #43464E;
}

.fnc-slider .m--blend-green .fnc-slide__mask-inner {
    background-color: #42605E;
}

.fnc-slider .m--navbg-green {
    background-color: #42605E;
}

.fnc-slider .m--blend-red .fnc-slide__inner {
    background-color: #43464E;
}

.fnc-slider .m--blend-red .fnc-slide__mask-inner {
    background-color: #990e13;
}

.fnc-slider .m--navbg-red {
    background-color: #990e13;
}

.fnc-slider .m--blend-blue .fnc-slide__inner {
    background-color: #43464E;
}

.fnc-slider .m--blend-blue .fnc-slide__mask-inner {
    background-color: #2D7791;
}

.fnc-slider .m--navbg-blue {
    background-color: #2D7791;
}

.fnc-slider .m--blend-orange .fnc-slide__inner {
    background-color: #43464E;
}

.fnc-slider .m--blend-orange .fnc-slide__mask-inner {
    background-color: #FE5000;
}

.fnc-slider .m--navbg-orange {
    background-color: #FE5000;
}

.fnc-slide {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    opacity: 0;
    transition: 1s ease-in-out all;
}

.fnc-slide.m--before-sliding {
    /*z-index: 2 !important;*/
    /*transform: translate3d(100%, 0, 0);*/
}

.fnc-slide.m--active-slide {
    opacity: 1;
    z-index: 1;
//transition: transform 1s 0.6666666667s ease-in-out;
    /*transform: translate3d(0, 0, 0);*/
}

.fnc-slide__inner {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center top;
//transform: translate3d(0, 0, 0);
    /*opacity: 0;*/
    /*transition: opacity 2000ms ease 0s;*/
}

.m--global-blending-active .fnc-slide__inner, .m--blend-bg-active .fnc-slide__inner {
    background-blend-mode: luminosity;
}

.m--before-sliding .fnc-slide__inner {
//transform: translate3d(-100%, 0, 0);
}

.m--active-slide .fnc-slide__inner {
    /*transition: transform 1s 0.6666666667s ease-in-out;*/
    /*opacity: 1;*/
    /*transform: translate3d(0, 0, 0);*/
}

.fnc-slide__mask {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    right: 20%;
    top: 20%;
    width: 42vw;
    height: 36vw;
    margin-right: -90px;
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0, 30% 10%, 10% 50%, 30% 90%, 70% 90%, 90% 50%, 70% 10%, 30% 10%);
    -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0, 30% 10%, 10% 50%, 30% 90%, 70% 90%, 90% 50%, 70% 10%, 30% 10%);
    transform-origin: 50% 0;
    transition-timing-function: ease-in-out;
}

.m--before-sliding .fnc-slide__mask {
    //transform: rotate(-10deg) translate3d(200px, 0, 0);
    opacity: 0;
}

.m--active-slide .fnc-slide__mask {
//transition: transform 0.7s 1.2222222222s, opacity 0.35s 1.2222222222s;
    /*transform: translate3d(0, 0, 0);*/
    opacity: 1;
}

.m--previous-slide .fnc-slide__mask {
    transition: transform 0.7s 0.3333333333s, opacity 0.35s 0.6833333333s;
    //transition: transform 0.7s 0.6s, opacity 0.35s 0.9s;
    transform: rotate(10deg) translate3d(-200px, 0, 0);
    transform: rotate(76deg) translate3d(-258px, 0, 0);
    transition: transform 0.7s 0.3333333333s, opacity 0.35s 0.6833333333s;
    transform: rotate(75deg) translate3d(0px, 600px, 0);
    opacity: 0;
}

.m--before-sliding:not(.m--active-slide){
    /*transition: 1s ease-in-out all;*/
    /*opacity: 0.5;*/
    /*filter: blur(5px);*/
}

/*.fnc-slide.m--blend-orange.m--before-sliding.m--active-slide .fnc-slide__inner{*/
/*    opacity: 0.9;*/
/*    filter: blur(2px);*/
/*}*/
.fnc-slide.m--blend-orange.m--before-sliding.m--active-slide .fnc-slide__inner:before{
    /*content: '';*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*height: 100%;*/
    /*width: 10%;*/
    /*opacity: 0.3;*/
    /*filter: blur(30px);*/
    /*background: #6c6c6c;*/
}
.fnc-slide__mask-inner {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    margin-left: -50vw;
    margin-top: -50vh;
    background-size: cover;
    background-position: center center;
    background-blend-mode: luminosity;
    transform-origin: 50% 32vw;
    transition-timing-function: ease-in-out;
}

.m--before-sliding .fnc-slide__mask-inner {
    transform: translateY(0) rotate(10deg) translateX(-200px) translateZ(0);
}

.m--active-slide .fnc-slide__mask-inner {
//transition: transform 0.7s 1.2222222222s;
    /*transform: translateX(0);*/
}

.m--previous-slide .fnc-slide__mask-inner {
    transition: transform 0.7s 0.3333333333s;
    /*transform: translateY(0) rotate(-10deg) translateX(200px) translateZ(0);*/
}

.fnc-slide__content {
    z-index: 2;
    position: absolute;
    left: 8.5vw;
    top: 22vw;
}

.fnc-slide__heading {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.fnc-slide__heading-line {
    overflow: hidden;
    position: relative;
    padding-right: 20px;
    font-size: 100px;
    color: #fff;
    word-spacing: 10px;
}

.fnc-slide__heading-line:nth-child(2) {
    padding-left: 30px;
}

.m--before-sliding .fnc-slide__heading-line {
    transform: translateY(100%);
}

.m--active-slide .fnc-slide__heading-line {
//transition: transform 1.5s 1s;
    /*transform: translateY(0);*/
}

.m--previous-slide .fnc-slide__heading-line {
    transition: transform 1.5s;
    /*transform: translateY(-100%);*/
}

.fnc-slide__heading-line span {
    display: block;
}

.m--before-sliding .fnc-slide__heading-line span {
    transform: translateY(-100%);
}

.m--active-slide .fnc-slide__heading-line span {
//transition: transform 1.5s 1s;
    /*transform: translateY(0);*/
}

.m--previous-slide .fnc-slide__heading-line span {
    transition: transform 1.5s;
    /*transform: translateY(100%);*/
}

.fnc-slide__action-btn {
    position: relative;
    margin-left: 200px;
    padding: 5px 15px;
    font-size: 20px;
    line-height: 1;
    color: transparent;
    border: none;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.fnc-slide__action-btn span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.3s;
    transform-origin: 50% 0;
    line-height: 30px;
    color: #fff;
}

.fnc-slide__action-btn span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-top: none;
    border-bottom: none;
}

.fnc-slide__action-btn span:after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 30px;
    background: #1F2833;
    opacity: 0;
    transform-origin: 50% 0;
    transform: translateY(100%) rotateX(-90deg);
    transition: opacity 0.15s 0.15s;
}

.fnc-slide__action-btn:hover span {
    transform: rotateX(90deg);
}

.fnc-slide__action-btn:hover span:after {
    opacity: 1;
    transition: opacity 0.15s;
}

.fnc-nav {
    z-index: 5;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.fnc-nav__bgs {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.fnc-nav__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.fnc-nav__bg.m--nav-bg-before {
    z-index: 2 !important;
    transform: translateX(100%);
}

.fnc-nav__bg.m--active-nav-bg {
    z-index: 1;
    transition: transform 1s 0.6666666667s;
    transform: translateX(0);
}

.fnc-nav__controls {
    font-size: 0;
}

.fnc-nav__control {
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 50px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

.fnc-nav__control.m--active-control {
    background: #1F2833;
}

.fnc-nav__control-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform-origin: 0 50%;
    transform: scaleX(0);
    transition-timing-function: linear !important;
}

.m--with-autosliding .m--active-control .fnc-nav__control-progress {
    transform: scaleX(1);
}

.m--prev-control .fnc-nav__control-progress {
    transform: translateX(100%);
    transition: transform 0.5s !important;
}

.m--reset-progress .fnc-nav__control-progress {
    transform: scaleX(0);
    transition: transform 0s 0s !important;
}

.m--autosliding-blocked .fnc-nav__control-progress {
    transition: all 0s 0s !important;
    transform: scaleX(0) !important;
}

/* NOT PART OF COMMON SLIDER STYLES */
.example-slider {
    z-index: 2;
    transform: translate3d(0, 0, 0);
    transition: transform 0.7s;
}

.credits-active .example-slider {
    transform: translate3d(-400px, 0, 0) rotateY(10deg) scale(0.9);
}

.example-slider .fnc-slide-1 .fnc-slide__inner,
.example-slider .fnc-slide-1 .fnc-slide__mask-inner {
    background-image: url(../../../img/pic/31.jpg);
}

.example-slider .fnc-slide-2 .fnc-slide__inner,
.example-slider .fnc-slide-2 .fnc-slide__mask-inner {
    background-image: url(../../../img/pic/35.jpg);
}

.example-slider .fnc-slide-3 .fnc-slide__inner,
.example-slider .fnc-slide-3 .fnc-slide__mask-inner {
    background-image: url(../../../img/pic/32.jpg);
}

.example-slider .fnc-slide-4 .fnc-slide__inner,
.example-slider .fnc-slide-4 .fnc-slide__mask-inner {
    background-image: url(../../../img/pic/34.jpg);
}

.example-slider .fnc-slide-5 .fnc-slide__inner,
.example-slider .fnc-slide-5 .fnc-slide__mask-inner {
    background-image: url(../../../img/pic/33.jpg);
}

.example-slider .fnc-slide__heading,
.example-slider .fnc-slide__action-btn,
.example-slider .fnc-nav__control {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* COLORFUL SWITCH STYLES
   ORIGINAL DEMO - https://codepen.io/suez/pen/WQjwOb */
.colorful-switch {
    position: relative;
    width: 180px;
    height: 77.1428571429px;
    margin: 0 auto;
    border-radius: 32.1428571429px;
    background: #cfcfcf;
}

.colorful-switch:before {
    content: "";
    z-index: -1;
    position: absolute;
    left: -5px;
    top: -5px;
    width: 190px;
    height: 87.1428571429px;
    border-radius: 37.1428571429px;
    background: #314239;
    transition: background-color 0.3s;
}

.colorful-switch:hover:before {
    background: #4C735F;
}

.colorful-switch__checkbox {
    z-index: -10;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.colorful-switch__label {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 32.1428571429px;
    cursor: pointer;
}

.colorful-switch__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 540px;
    height: 100%;
    background: linear-gradient(90deg, #14DCD6 0, #10E7BD 180px, #EF9C29 360px, #E76339 100%);
    transition: transform 0.5s;
    transform: translate3d(-360px, 0, 0);
}

.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__bg {
    transform: translate3d(0, 0, 0);
}

.colorful-switch__dot {
    position: absolute;
    left: 131.1428571429px;
    top: 50%;
    width: 5.1428571429px;
    height: 5.1428571429px;
    margin-left: -2.5714285714px;
    margin-top: -2.5714285714px;
    border-radius: 50%;
    background: #fff;
    transition: transform 0.5s;
    transform: translate3d(0, 0, 0);
}

.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__dot {
    transform: translate3d(-80.3571428571px, 0, 0);
}

.colorful-switch__on {
    position: absolute;
    left: 104.1428571429px;
    top: 22.5px;
    width: 19.2857142857px;
    height: 36px;
    transition: transform 0.5s;
    transform: translate3d(0, 0, 0);
}

.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__on {
    transform: translate3d(-80.3571428571px, 0, 0);
}

.colorful-switch__on__inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.25s 0s cubic-bezier(0.52, -0.96, 0.51, 1.28);
    transform-origin: 100% 50%;
    transform: rotate(45deg) scale(0) translateZ(0);
}

.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__on__inner {
    transition: transform 0.25s 0.25s cubic-bezier(0.67, -0.16, 0.47, 1.61);
    transform: rotate(45deg) scale(1) translateZ(0);
}

.colorful-switch__on__inner:before, .colorful-switch__on__inner:after {
    content: "";
    position: absolute;
    border-radius: 2.5714285714px;
    background: #fff;
}

.colorful-switch__on__inner:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6.1428571429px;
}

.colorful-switch__on__inner:after {
    right: 0;
    top: 0;
    width: 6.1428571429px;
    height: 100%;
}

.colorful-switch__off {
    position: absolute;
    left: 131.1428571429px;
    top: 50%;
    width: 41.1428571429px;
    height: 41.1428571429px;
    margin-left: -20.5714285714px;
    margin-top: -20.5714285714px;
    transition: transform 0.5s;
    transform: translate3d(0, 0, 0);
}

.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off {
    transform: translate3d(-80.3571428571px, 0, 0);
}

.colorful-switch__off:before, .colorful-switch__off:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 5.1428571429px;
    margin-top: -2.5714285714px;
    border-radius: 2.5714285714px;
    background: #fff;
    transition: transform 0.25s 0.25s;
}

.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:before, .colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:after {
    transition-delay: 0s;
}

.colorful-switch__off:before {
    transform: rotate(45deg) scaleX(1) translateZ(0);
}

.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:before {
    transform: rotate(45deg) scaleX(0) translateZ(0);
}

.colorful-switch__off:after {
    transition-timing-function: cubic-bezier(0.67, -0.16, 0.47, 1.61);
    transform: rotate(-45deg) scaleX(1) translateZ(0);
}

.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:after {
    transition-timing-function: ease;
    transform: rotate(-45deg) scaleX(0) translateZ(0);
}

@media only screen and (max-width: 767px) {
    .fnc-slider {
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        height: 450px;
    }

    .fnc-slide__content {
        top: auto;
        bottom: 10%;
    }

    .fnc-slide__mask {
        right: -15%;
        top: 20%;
        width: 84vw;
        height: 72vw;
        clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0, 35% 15%, 15% 50%, 35% 85%, 65% 85%, 85% 50%, 65% 15%, 35% 15%);
    }

    .fnc-slide__mask-inner {
        left: 0;
    }
}

/*# sourceMappingURL=style.css.map */
