

/* Start:/bitrix/templates/new/styles.css?16295232592176*/
.arrow-js{
    cursor: pointer;

}
.calc66
{
display:none!important;
line-height: 40px;
box-shadow: -1.09809663vw 0 2.92825769vw rgba(0, 0, 0, 0.1);
border-radius: 0.87847731vw 0.87847731vw 0 0;
right: -4.53879941vw;
bottom:23.98096633vw;
height: 80px;

padding: 0.73206442vw 0.87847731vw;
font-weight: bold;

line-height: 16px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
background: #FE5000;
box-shadow: -15px 0 40px rgba(0, 0, 0, 0.1);
border-radius: 12px 12px 0 0;
transform: rotate(-90deg);
position: fixed;
z-index: 9;

padding: 10px 12px;
color: #fff;
text-decoration: none;
cursor:pointer;
white-space: nowrap;
}

.calc66:hover
{
color:#000;
}

@media only screen and (min-width: 768px){
    #tns1 > .tns-item {
        transition: 1s ease-in-out all;
    }
    .page--index .scroll .team-slider .tns-inner {
        margin: 0 24vw 0 10vw !important;
    }
    .scroll  .team-slider{
    // z-index: 4;
    }
    .scroll #tns1 > .tns-item {
        width: calc(4.5%) !important;
    }
    .scroll #tns2-iw{
        margin: 0 4%;
    }
    .direction{
        transition: 1s ease-in-out all;
    }
    .scroll .direction {
        width: 17vw !important;
    }
    .scroll #tns4-iw{
        margin-left: 15px;
    }
    .flex{
        display: flex;
        margin: 0 -15px;
        align-items: flex-end;
    }
    .project-form .flex .btn {
        /*width: auto;*/
        /*min-width: 10vw;*/
        /*margin-left: 10px;*/
        /*padding: 0 0vw;*/
    }
    .project-form .flex input[name="cap"]{
        border: 0;
        border-bottom: 2px solid #fff;
    }


}


@media only screen and (max-width: 768px){
.calc {
    font-size: 12px!important;
    line-height: 20px!important;
    box-shadow: -1.09809663vw 0 2.92825769vw rgb(0 0 0 / 10%)!important;
    border-radius: 0.87847731vw 0.87847731vw 0 0!important;
    right: -18.538799vw!important;
    bottom: 118.019034vw!important;
    height: 50px!important;
    width: 50%!important;;z-index: 9999999!important;
    padding: 0.73206442vw 0.87847731vw!important;
}
.calc66 {
right: -18.538799vw;
    bottom: 62.980966vw;
    height: 50px;
    width: 50%;line-height: 20px;
}
}




/* End */
/* /bitrix/templates/new/styles.css?16295232592176 */
