@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
 hgroup, menu, nav, section {
    display: block;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
html{
    height: 100%;
    position: relative;
    margin:0;
    padding: 0;
}
body {
    line-height: 1;
}
ol, ul, nav {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clear{
    clear: both;
}
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
input[type="submit"],
input[type="button"],
button{   
    -webkit-appearance: none;
}
input{
     outline: none !important;
}