@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"


/* Slider */

.slick-list {
    .slick-loading & {
       // background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}


/* Arrows */
.slick-arrow{
    background: url("../img/svg/slider-arrow.svg") no-repeat !important;
}
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: -5.66032211vw;
    transition: all 0.3s ease;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover, &:focus {
        outline: none;
        opacity: 0.5;
        &:before {

        }
    }
    &.slick-disabled:before {

    }
    &:before {
        font-size: 20px;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: auto;
    right: 197px;
    background: url("../img/svg/slider-arrow-prev.svg") no-repeat !important;
    @media(max-width: 767px) {
        top: -6.2vw;
    }
    [dir="rtl"] & {

    }
    &:before {
        display: none;
    }
}

.slick-next {
    right: 125px;
    [dir="rtl"] & {

    }
    &:before {
        display: none;
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {

        }
    }
}
