.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 342px;
  max-width: 100%;
  height: 48px;
  margin-top: 16px;
  text-transform: uppercase;
  font-size: $sizeBasik - 4;
  font-weight: 800;
  border: 1px solid #CFD1DB;
  text-align: center;
  letter-spacing: 0.1em;

  box-sizing: border-box;
  transition: 1s ease-in-out all;
  border-radius: 0px;
  color: $orange;
  @media(max-width: 767px) {
    height: 40px;
  }
  &:hover{
    //background: $white;
    //color: $orange;
    border: 1px solid $orange;
    background: $orange;
    color: $white;
  }
  &_border_green{
    border: 2px solid $light-green;
    &:hover{
      background: $light-green;
    }
  }
  &_border_black{
    border-radius: 15px;
    border: 3px solid #000;
    color: #000;
    &:hover{
      background: #000;
      color: #fff;
    }
  }
  &_grean{
    border: 2px solid $light-green;
    background: $light-green;
    color: #000;
    &:hover{
      background: transparent;
    }
  }
  &_border_grey{
    border: 1px solid #CFD1DB;
    background: $white;
    color: $colorBasik;
    &:hover{
      background: $colorBasik;
      color: $white;
    }
  }
  &_orange{
    border: 1px solid $orange;
    background: $orange;
    color: $white;
    &:hover{
      background: transparent;
      color: $orange;
    }
  }
  &_orange_border{
    border: 1px solid $orange;
    background: transparent;
    color: $orange;
    &:hover{
      background: $orange;
      color: $white;
    }
  }
  &_white{
    border: 0px solid $orange;
    background: $white;
    color: $orange;
    font-weight: bold;
    &:hover{
      border: 0px solid $white;
      background: $orange;
      color: $white;
    }
  }
}



.input {
  height: 49px;
  background: #eef2fa;
  font-size: 16px;
  font-weight: 400;
  line-height: 43px;
  border-radius: 10px;
  outline: none;
  box-shadow: transparent;
  transition: box-shadow;
}

textarea {
  resize: none;
}

//.form-select {
//  display: block;
//  width: 100%;
//  padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
//  font-family: $form-select-font-family;
//  @include font-size($form-select-font-size);
//  font-weight: $form-select-font-weight;
//  line-height: $form-select-line-height;
//  color: $form-select-color;
//  background-color: $form-select-bg;
//  background-image: escape-svg($form-select-indicator);
//  background-repeat: no-repeat;
//  background-position: $form-select-bg-position;
//  background-size: $form-select-bg-size;
//  border: $form-select-border-width solid $form-select-border-color;
//  @include border-radius($form-select-border-radius, 0);
//  @include box-shadow($form-select-box-shadow);
//  appearance: none;
//
//  &:focus {
//    border-color: $form-select-focus-border-color;
//    outline: 0;
//    @if $enable-shadows {
//      @include box-shadow($form-select-box-shadow, $form-select-focus-box-shadow);
//    } @else {
//      // Avoid using mixin so we can pass custom focus shadow properly
//      box-shadow: $form-select-focus-box-shadow;
//    }
//  }
//
//  &[multiple],
//  &[size]:not([size="1"]) {
//    padding-right: $form-select-padding-x;
//    background-image: none;
//  }
//
//  &:disabled {
//    color: $form-select-disabled-color;
//    background-color: $form-select-disabled-bg;
//    border-color: $form-select-disabled-border-color;
//  }
//
//  // Remove outline from select box in FF
//  &:-moz-focusring {
//    color: transparent;
//    text-shadow: 0 0 0 $form-select-color;
//  }
//}

