.modal{
  &-open{
    padding: 0 !important;
    .modal{

    }

  }
  &.modalVideoGallery{
    padding: 0 !important;
  }
  &.show {
    .modal{
      &-dialog{
        min-height: calc(100%);
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
      }
      &-content{
        height: auto;
        max-width: 80%;
        width: 100%;
        margin: auto;
        border-radius: 0;
        border: none;
        @media(max-width:767px){
          max-width: 100%;
        }
        .btn-close{
          position: absolute;
          top: -20px;
          right: -20px;
          opacity: 1;
          z-index: 9;
          &:hover{
            opacity: 0.5;
          }
          @media(max-width:767px) {
            top: -15px;
            right: 8px;
            width: 15px;
            height: 15px;
          }
        }

      }
      &-body{
        padding: 0;
        .video{
          padding-top: 56.4%;
          @media(max-width:767px){
            padding-top: 70%;
          }
          iframe{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
      }

    }
    &.content_modal{
      .modal-content{
        position: relative;
        .btn-close {
          top: 20px;
          right: 20px;
          z-index: 9;
        }
      }
      .modal-body{
        padding: 40px 32px;
        @media(max-width: 767px) {
          padding: 24px;
        }
        .top-block{
          display: flex;
          margin-bottom: 24px;
          @media(max-width: 767px) {
            flex-wrap: wrap;
          }
          .icon{
            width: 232px;
            height: 200px;
            @media(max-width: 767px) {
              margin: 0 auto 24px;
            }
            img{

            }
          }
          &__in{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: baseline;
            margin-left: 40px;
            @media(max-width: 767px) {
              margin: 0;
            }
            .h3{
              max-width: 400px;
              text-transform: uppercase;
              @media(max-width: 767px) {
                max-width: 100%;
                margin: 3px 0;
              }
            }
            .new-title {
              display: inline-block;
              margin-bottom: 8px;
              padding: 4px 8px;
              border: 1px solid #CFD1DB;
              box-sizing: border-box;
              border-radius: 8px;
              font-size: 12px;
              line-height: 110%;
              color: #797C8D;
            }
            .data {
              margin: 0px 0px;
              color: $grey;
            }

            img {
              display: block;
            }
          }

        }
        .description{
          p {
            margin-bottom: 24px;
          }
          &__btn{
            max-width: 285px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
