.page-main {
	background: #F4F5FB;
}
ol li + li, ul li + li {
	margin-top: 0;
}
header {
	display: flex;
}
.wrapper {
	width: 100%;
	overflow-x: unset;
}
.page-main {
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		top: 136px;
		width: 80%;
		height: 100%;
		background: url("../img/page-main-before-bg.png") right top no-repeat;
	}
}
.section__top {
	position: relative;
	//min-height: 364px;
	padding: 35px 0;
	background: url("../img/section__top-bg.png") right top no-repeat;
	@media (max-width: 992px) {
		background: url("../img/section__top-bg-md.png") right top no-repeat;
	}
	@media (max-width: 767px) {
		padding-bottom: 0;
		.img{
			max-width: 200px;
			margin: 33px auto 0;
			img{
				display: block;
			}
		}
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: calc(100% - 210px);
		height: 100%;
		background: $orange;
	}
	&-in {
		max-width: 768px;
		@media (max-width: 1024px) {
			max-width: 535px;
		}
	}

	.h1 {
		position: relative;
		margin: 0 0 50px;
		font-family: 'Avenir Next Cyr';
		//font-weight: 800;
		font-size: 130px;
		line-height: 110%;
		@media (max-width: 1200px) {
			width: 600px;
			font-size: 100px;
		}
		@media (max-width: 1024px) {
			width: auto;
			font-size: 90px;
		}
		@media (max-width: 767px) {
			font-size: 56px;
			max-width: 315px;
			margin-bottom: 40px;
		}
		.color {
			&-dark {
				text-transform: uppercase;
				color: #000;
			}
			&-white {
				position: absolute;
				top: 27%;
				right: 0;
				text-transform: uppercase;
				color: #fff;
			}
		}
		span {
			position: absolute;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 130%;
			letter-spacing: 0.19em;
			color: #FFFFFF;
			@media (max-width: 1200px) {
				font-size: 12px;
			}
			@media (max-width: 767px) {
				font-size: 7.28691px;
				top: 95%;
			}
		}
	}
	.rubrics {
		display: flex;
		margin-top: 70px;
		@media (max-width: 992px) {
			flex-wrap: wrap;
		}
		@media (max-width: 767px) {
			margin-top: 40px;
		}
		b {
			margin-top: 10px;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 130%;
			color: #fff;
			@media (max-width: 1200px) {
				margin-top: 5px;
			}
			@media (max-width: 992px) {
				width: 100%;
			}
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			width: calc(100% - 37px);
			@media (max-width: 992px) {
				width: 100%;
				margin: 20px 0 0 -10px;
			}
			li {
				a {
					display: inline-block;
					margin: 0px 10px 7px;
					padding: 3px 8px;
					color: #fff;
					border-radius: 8px;
					border: 1px solid rgba(255, 255, 255, 0.2);
					&:hover, &.active {
						background-color: #fff;
						color: $orange;
						box-sizing: border-box;
					}
					@media (max-width: 767px) {
						padding: 1px 7px;
					}
				}
			}
		}
	}
}
.digest {
	&__desc {
		.new-title {
			display: inline-block;
			margin-bottom: 8px;
			padding: 4px 8px;
			border: 1px solid #CFD1DB;
			box-sizing: border-box;
			border-radius: 8px;
			font-size: 12px;
			line-height: 110%;
			color: #797C8D;
		}
		@media(max-width: 767px) {
			.md-visible{
				.d-flex{
					margin-bottom: 56px;
					margin-top: 24px;
					flex-wrap: nowrap;
					.select{
						width: auto;
						.slct{
							//width: auto;
							//padding-right: 30px;
						}
					}
					.btn{
						width: 108px;
						min-width: 10px;
						margin: 0 0 0 24px;
						font-size: 12px;
						.btn {
							height: 48px;
						}
					}
				}
			}
			.img{
				text-align: center;
			}
		}

		.h2 {
			margin: 39px 0 24px;
			@media(max-width: 767px){
				margin-bottom: 16px;
			}
		}
		.h3 {
			line-height: 120%;
			letter-spacing: 0.04em;
		}
		.h4 {
		}
		.data {
			margin: 0px 0 12px;
			color: $grey;
		}
		p {
		}
		img {
			display: inline-block;
		}
	}
	&__item {
		margin-bottom: 55px;
		@media(max-width: 992px) {
			margin-bottom: 30px;
			p{
				margin-bottom: 16px;
			}
		}
		@media(max-width: 767px){
			margin-bottom: 16px;
		}
	}
	&__sidebar {
		.img {
			margin-top: -290px;
			margin-bottom: 25px;
			img{
				display: block;
			}
		}
		.d-flex{
			margin-bottom: 56px;
			flex-wrap: nowrap;
			.select{
				width: auto;
				.slct{
					//width: auto;
					//padding-right: 30px;
				}
			}
			.btn{
				width: 108px;
				min-width: 10px;
				margin: 0 0 0 24px;
				font-size: 12px;
			}
		}
		&-news{
			position: relative;
			margin-bottom: 40px;
			padding: 30px 30px 20px;
			background-color: #fff;
			&:after{
				content: '';
				position: absolute;
				bottom: -16px;
				left: 16px;
				width: calc(100% - 32px);
				height: 20px;
				background: rgba(255, 255, 255, 0.5);
			}
			.h4{
				margin: 0;
				color: $orange;
			}
			&__item{
				padding: 24px 0;
				border-bottom: 1px solid #CFD1DB;
				&:first-child{
					padding-top: 15px;
				}
				&:last-child{
					border-bottom: 0;
				}
				.h5{
					b{

					}
				}
				.img-list{
					display: flex;
					justify-content: space-between;
					.item{
						width: 49%;
						img{
							display: block;
							width: 100%;
						}
					}
				}
			}
		}
		&-video{
			margin-bottom: 56px;
			.title{
				display: flex;
				justify-content: space-between;
				margin-bottom: 16px;
				font-size: 20px;
				.h4{
					margin: 0;
				}
				.more{
					font-weight: 400;
					text-transform: none;
					color: $orange;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			&__in{
				position: relative;
				display: inline-block;
				img{
					display: block;
				}
				.triangular{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					img{
						transition: 1s;
					}
					&:hover{
						img{
							transform: scale(1.1);
						}
					}
				}
			}
		}
		&-events{
			padding: 20px 30px;
			background: $orange;
			.h4{
				margin-bottom: 16px;
				line-height: 1;
				color: $white;
			}
			.list{
				border-top: 1px solid rgba(255, 255, 255, 0.3);
				li{
					padding: 16px 0 8px;
					a{
						font-weight: bold;
						font-size: 16px;
						line-height: 130%;
						color: $white;
					}
					.date{
						margin-top: 4px;
						font-size: 12px;
						line-height: 110%;
						color: #FFFFFF;
						opacity: 0.5;
					}
				}
			}
		}
	}
	.subscribtion{
		padding: 56px 0 115px;
		background: url("../img/subscribtion-bg.png") no-repeat right top;
		@media(max-width: 767px){
			background: transparent;
		}
		.row{
			@media(max-width: 767px){
				display: block;
				margin: 0;
			}
		}
		.col{
			&__social{
				flex-grow: 2;
				@media(max-width: 767px){
					padding: 0;
				}
				.h4{
					margin: 40px 0 20px;
					color: #43464E;
					@media(max-width: 767px){
						margin-top: 0;
					}
				}
				.social{
					display: flex;
					@media(max-width: 767px){
						margin-bottom: 40px;
					}
					li{
						margin-right: 40px;
						&:last-child{
							margin-right: 0;
						}
						a{
							&:hover{
								opacity: 0.7;
							}
							img{

							}
						}
					}
				}
			}
			&__subscribtion{
				max-width: 632px;
				flex-grow: 3;
				padding: 32px;
				background: #FFFFFF;
				box-shadow: 0px 32px 48px rgba(29, 33, 46, 0.08);

				&:after{
					content: '';
					position: absolute;
					bottom: -31px;
					left: 44px;
					width: calc(100% - 64px);
					height: 35px;
					background: rgba(255, 255, 255, 0.5);
				}
				.h4{

				}
				form{
					label{
						display: block;
						margin-bottom: 24px;
						@media(max-width: 767px){
							margin-bottom: 16px;
						}
					}
					.d-flex{
						font-weight: normal;
						justify-content: space-between;
						input{
							width: 360px;
							height: 48px;
							padding: 0 0 0 10px;
							border: 0;
							outline: 0;
							border-bottom: 1px solid #CFD1DB;
							font-size: 16px;
							line-height: 130%;
							color: #000;
							@media(max-width: 767px){
								margin-top: 0px;
								width: 100%;
							}
							&::placeholder{
								color: #797C8D;
							}

						}
						button{
							width: 185px;
							margin: 0 0 0 20px;
							font-weight: 800;
							font-size: 12px;
							line-height: 16px;
							letter-spacing: 0.1em;
							text-transform: uppercase;
							color: #FFFFFF;
							@media(max-width: 767px){
								margin: 10px 0 0;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
	[data-toggle="modal"]{
		cursor: pointer;
	}
}
